@font-face {
  font-family: 'Akzidenz';
  src: url('../fonts/berthold-akzidenz/AkzidenzGroteskBE-LightCn.ttf');
}

body{
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 300;
	background-color:#151517;
	color: #ededed;
	text-align: center;
}

.container{
	margin: 3% 0;
	width: 100%;
}

/*	Description	*/
.row#description{
	margin-bottom: 1%;
}

#description .content{
	font-size: 270%;
	text-transform: uppercase;
}

span.emphasized {
	color: #ca0032;
}

/*	Contenu principal	*/
.row#main-content{
	padding: 0;
}

/*	Colonne Logo	*/
#logo, #achat-billets{
	padding: 0;
}

#logo img{
	width: 100%;
	margin: 10px	 0;
}

/*	Bloc Achat des billets	*/

h3 {
	font-size: 180%;
	font-weight: 300;	
	margin-top: 30px;
	margin-bottom: 30px;
}

.btn-primary, .btn-primary:active{
	background-color: #ca0032;
}

.btn-primary:hover
{
	background-color: #E41A4C;
}

.btn-lg{
	width : 50%;
	margin : 30px auto;
	line-height: 1.5em;
}


#achat-billets{

}

#achat-billets span.emphasized{
	font-size: 180%;
}

span.date{
	display: block;
	max-height: 50px;
	line-height: 50px;
	font-size: 270%;
	margin-bottom: 9px;
}

.logo-lieu{
	margin-top: 21px;
}

.lieu-event{
	text-transform: uppercase;
}


/* Footer Contact Facebook	*/
 footer{
 	background-color:transparent;
 	font-size: 80%;
 	color: #D4D4D4;
 }

 #contact-fb{
 }

#facebook{
	color: #ca0032;
}


