@font-face {
  font-family: 'Akzidenz';
  src: url('../fonts/berthold-akzidenz/AkzidenzGroteskBE-LightCn.ttf');
}

body{
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 300;
	background-color:#151517;
	color: #ededed;
	text-align: center;
}

.container{
	margin: 15px 0 0 0;
	width: 100%;
}


span.date, #description .content{
	font-size: 330%;
}
/*	Description	*/
.row#description{
	margin-bottom: 1%;
}

#description .content{
	text-transform: uppercase;
}

span.emphasized {
	color: #ca0032;
}

/* Contact Facebook	*/
.contact-fb, .icon-fb, .btn-fb{
	 	 background-color:#ca0032;
 	 margin-left: auto;
 	 margin-right: auto;
 	 padding: 21px;
}

.construction-message{
	color: #d4d4d4;
}

	.contact-fb, .text-fb{
		display: none;
	}

 .icon-fb{
 	position: absolute;
 	top :114px;
 	right: -6px;
 	border-radius: 6px;
 }

.btn-fb{
	border-radius: 6px;
	padding: 9px 9px 12px;

}

.btn-fb img{
	height: 24px;
}

/*	Contenu principal	*/
.row#main-content{
	padding: 0;
	margin-bottom: 30px;
}

/*	Colonne Logo	*/
#logo, #achat-billets{
	padding: 0;
}

#logo img{
	width: 100%;
	margin: 10px	 0;
}

/*	Bloc Achat des billets	*/
h3, #achat-billets span.emphasized, .btn-lg {
	font-size: 150%;
	font-weight: 300;	
}


h3 {
	margin-top: 0;
	margin-bottom: 30px;
}

.btn-primary, .btn-primary:active{
	background-color: #ca0032;
}

.btn-primary:hover, .btn-fb:hover, .icon-fb:hover
{
	background-color: #E41A4C;
	  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.btn-lg{
	width : 60%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5em;
}


#achat-billets{

}

span.date{
	display: block;
	line-height: 50px;
}

#achat-billets span.emphasized{
	display: block;

}


.logo-lieu{
	margin-top: 21px;
}

.lieu-event{
	text-transform: uppercase;
}

@media (min-width: 990px) and (max-width: 1024px){
	.row#main-content{
		margin-bottom: 50px;
	}

	#logo{
		margin-top: 40px;
	}

	.btn-lg{
		width: 60%;
	}
}


@media (max-width: 991px){
	.container{
		margin-top: 80px;
	}

	#achat-billets, .row#description{
		margin-bottom: 50px;
	}

	#description .content{
		padding: 0 3%;
		line-height: normal;
	}

	#logo img, #achat-billets{
		padding: 0 5%;
	}

	h3, #achat-billets span.emphasized, .btn-lg {
	font-size: 180%;
	}

	span.date, #description .content{
		font-size: 300%;
	}

	 .construction-banner{
 		
 	}

	.construction-message{
		padding: 18px;
	}

	.icon-fb{
		top: -6px;
right: 15px;

	}

	.btn-lg{
		width: 75%;
	}

		.text-fb{
		display: inline-block;
	}

	.btn-fb{
		display: none;
	}

	.contact-fb{
		display: block;
	}

}

